.toc .nav > li > a {
  margin-top: 5px;
}

.toc .nav > li.active > .expand-stub::before,
.toc .nav > li.in > .expand-stub::before,
.toc .nav > li.in.active > .expand-stub::before,
.toc .nav > li.filtered > .expand-stub::before {
    content: "‒";
}

.toc .nav > li > .expand-stub::before,
.toc .nav > li.active > .expand-stub::before {
    content: "+";
}

a.anchorjs-link {
  display: none
}

.sidetoc.shiftup {
  bottom: 50px;
  border: width  color;
}

.sideaffix {
display:none
}

article h4{
  margin-bottom: 12px;
  border-bottom: 0px solid;
  overflow:hidden;
}

/* border in middle */
article h4:after {
content:'';
border-top: 1px solid #ccc;
vertical-align:bottom;
display:inline-block;
width:100%;
margin-right:-100%;
margin-left:15px;
height:0.5em;
}

pre{ 
border-radius:0px
}

.inheritance {
  display:inline-flex;
vertical-align:bottom;
height:0.8em;  
}

.inheritance h5 {
  border-bottom:0px transparent;
  margin-top:2px;  
  margin-bottom:1px;
}

.inheritance .level0:before {
    content: '';  
    margin-right: 0px;
    margin-left: 4px;
}
.inheritance .level1:before,
.inheritance .level2:before,
.inheritance .level3:before,
.inheritance .level4:before,
.inheritance .level5:before {
    content: '❱';
    margin-right: 3px;
    margin-left: 5px;
    display: inline-block;
}

.inheritance .level0,
.inheritance .level1,
.inheritance .level2,
.inheritance .level3,
.inheritance .level4,
.inheritance .level5 {
    margin-left: 2px;
}
