.toc .nav > li > a {
  margin-top: 5px;
}

.toc .nav > li.active > .expand-stub::before,
.toc .nav > li.in > .expand-stub::before,
.toc .nav > li.in.active > .expand-stub::before,
.toc .nav > li.filtered > .expand-stub::before {
    content: "‒";
}

.toc .nav > li > .expand-stub::before,
.toc .nav > li.active > .expand-stub::before {
    content: "+";
}

a.anchorjs-link {
  display: none
}

.sidetoc.shiftup {
  bottom: 50px;
}

.sideaffix {
display:none
}
